
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    height: 100%;
    background-color: bisque;
    background-image: url(https://i.imgur.com/UZKEjzG.png);
}

.jumbotron {
    background: none;
    font-family: 'Press Start 2P', cursive;; 
   font-weight: normal; 
   font-style: normal; 
    
    
}
